<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css">

</head>
<body>
    <div class="login-container">
        <h2>Entrar na minha conta!</h2>
        <p>Bem vindo de volta! Selecione um método para acessar sua conta</p>
        <form>
            <input type="email" placeholder="Email" required>
            <input type="password" placeholder="Senha" required>
            <div class="remember-container">
                <label>
                    <input type="checkbox">
                    Lembrar senha
                </label>
                <a href="#">Esqueci minha senha?</a>
            </div>
            <button type="submit">Entrar</button>
        </form>
        <div class="link">
            Não tem uma conta? <a href="#">Criar uma conta</a>
        </div>
    </div>

</body>
</html>