<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css">

</head>
<body>

    <img class="fundo" src="/img/Rectangle 47.svg" alt="">

    <div class="login-container">
        <h2>Access my account</h2>
        <p>Welcome back!</p>
        <form>
            <input type="email" placeholder="Email" required>
            <input type="password" placeholder="Password" required>
            <div class="remember-container">
                <label>
                    <input type="checkbox">
                    Remeber Password
                </label>
                <a class="link" href="#">Forget my password?</a>
            </div>
            <button type="submit">Login</button>
        </form>
        <div class="link">
            Don't have an account? <a href="#">Create account</a>
        </div>
    </div>

</body>
</html>