<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <title>Pagamento | Vale Hotels</title>
</head>

<body class="d-flex align-items-center justify-content-center">
    <div class="p-4 container w-100 m-4 position-relative d-flex flex-row align-items-center justify-content-between">
        <div class="d-flex flex-column position-relative ml-4">
            <div class="logo">
                <img src="/img/checkout/image-removebg-preview (1).png" alt="Logotipo Vale Hotels" />
            </div>
            <div class="form-group mt-4">
                <label for="name">Name</label><br />
                <input type="text" class="form-control col-md-10" name="Name" id="name" />
            </div>
            <div class="form-group mt-4">
                <label for="email">Email</label><br />
                <input type="text" class="form-control col-md-10" name="email" id="email" />
            </div>
            <div class="form-group mt-4">
                <label for="phone">Contact Number</label><br />
                <input type="text" class="form-control col-md-10" name="Number" id="phone" />
            </div>
            <div class="form-group mt-4">
                <label for="rooms">Number of rooms</label><br />
                <input type="number" class="form-control col-md-10" name="Amount" id="amountRomms" />
            </div>
        </div>
        <div class="d-flex m-4 h-100 flex-column align-items-end position-relative">
            <p class="mt-4 mr-4 mb-0 textinho h5">Scheduling</p>
            <div class="date d-flex justify-content-end mr-4 mt-2"><img class="shadow"
                    src="/img/checkout/IMG-20240610-WA0018.jpg" alt="Calendário"></div>
            <div class="cardzao shadow m-4 d-flex flex-column align-items-center position-relative">
                <h5 class="mt-4">Values</h5>
                <div class="textos ml-4 h-100 d-flex flex-row w-100 align-items-center justify-content-between">
                    <ul class="ml-4">
                        <li>Daily - All Incluse</li>
                        <li>9,2% Tax</li>
                        <li>&nbsp</li>
                        <li>Total</li>
                    </ul>
                    <ul class="ml-4">
                        <li>R$ 92,90</li>
                        <li>R$ 9,29</li>
                        <li>&nbsp</li>
                        <li>R$ 108,29</li>
                    </ul>
                    <hr>
                </div>
                <div class="botao w-100 d-flex align-items-center justify-content-center position-relative"><button
                        class="button w-100 p-2">Pay</button></div>
            </div>
        </div>
    </div>
</body>

</html>